@import "tailwindcss";

@theme {
  --color-BorderColor: #000000;
  --color-BackgroundTaskGray: #444141;

  --color-white: #ffffff;
}

textarea:focus,
input:focus {
  outline: none;
} 

textarea{
  resize: none;   
}

button
{
  cursor: pointer;
} 